<header>
  <%= image_tag("logoFEI.gif", :alt => "logo", :class => "round") %>
   <%= image_tag("logo-urpi.png", :alt => "logo", :class => "round") %>
   <%= image_tag("calendar.png", :alt => "logo", :class => "anim") %>

  

  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </nav>
</header>